@model Backup_Service.Models.FilesViewModel
@{
    ViewData["Title"] = "Upload";
}
<body style="background-color:rgb(197, 208, 230);">
<div class="text-left">
    <h2 style="margin-bottom:50px">Backup Service</h2>

    <!-- In order to post files to server we should use form with post method, also need to add multipart/form-data encoding.
         Otherwise the files will not sent to the server. -->

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <button type="submit">Upload</button>
    </form>

    <!-- To show the success message to the user  -->
    @if (ViewBag.MessageOK != null)
    {
        <div class="alert alert-success alert-dismissible" style="margin-top:50px">
            @ViewBag.MessageOK
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }
    @if (ViewBag.MessageNOT != null)
    {
        <div class="alert alert-danger alert-dismissible" style="margin-top:50px">
            @ViewBag.MessageNOT
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

        <p style="margin-top: 50px">List of files</p>
    <!-- Get all the files from the server -->
    <ul>
        @foreach (var item in Model.Files)
        {
            <li>
                <a asp-action="Download"
                   asp-route-filename="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>
    <form asp-controller="Home" asp-action="CreatingArchive" method="get">
        <label for="compressionLevel">Enter compression level (between 0 and 9):</label>
        <input type="number" id="compressionLevel" name="compressionLevel" min="0" max="9" value="9"/>
        <br /><br />
        <p class="text-left">
            <button class="btn btn-primary" type="submit" download>Create backup</button>
        </p>
    </form>
    @if (ViewBag.MessageBackup != null)
    {
        <div class="alert alert-danger alert-dismissible" style="margin-top:50px">
            @ViewBag.MessageBackup
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }
</div>
</body>
